{
  "datacenter": "dc1", 
  "bind_addr": "172.20.20.40",
  "start_join": [ "172.20.20.10", "172.20.20.20", "172.20.20.30" ],
  "data_dir": "/var/lib/consul/data",
  "enable_syslog": true,
  "log_level": "INFO",
  "node_name": "client1",
  "client_addr": "0.0.0.0",
  "server": false,
  "dns_config": { "only_passing": true }
}

