{
  "datacenter": "dc1",
  "bind_addr": "172.20.20.10",
  "rejoin_after_leave": true,
  "bootstrap_expect": 1,
  "data_dir": "/var/lib/consul/data",
  "enable_syslog": true,
  "log_level": "INFO",
  "node_name": "server1",
  "client_addr": "0.0.0.0",
  "server": true,
  "dns_config": { "only_passing": true }
}
